nav{
	padding:0px;
	background:green;
}


nav > ul{
float:right;
margin-right:150px;	
}
ul li{
position:relative;
display:inline-block;
list-style-type:none;
text-align:center;
background:green;
color:#fff;	
}

ul li a{
display:block;
text-align:center;
background:green;
color:#fff;	
text-decoration:none;
font-size:20px;
padding:0px 25px;
}

ul li ul {
position:absolu
background:green;
top:70px;
	
}


